﻿<aside class="main-sidebar">

    <section class="sidebar">

        <div class="user-panel">
            <div class="pull-left image">
                <img src="@GetGravatarUrl("imranaapkeliye@gmail.com")" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@User.Identity.Name</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-users"></i> <span>Paitents</span>
                    <span class="pull-right-container">
                        <i class="label label-success pull-right">6</i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#"><i class="fa fa-flag-o"></i> New</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-flag-o"></i> Follow up
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-circle-o"></i> Deseased
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-circle-o"></i> Critical
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-circle-o"></i> Fit
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-circle-o"></i>Rejected
                        </a>
                    </li>
                    @*<li>
                        <a href="/Admin/students/ReAlloted">
                            <i class="fa fa-circle-o"></i>
                        </a>
                    </li>*@
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-university"></i>
                    <span>Appointemt Slots</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-plus"></i>Add New</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>List All</a></li>

                </ul>
            </li>
            <li @*class="treeview"*@>
                <a href="#">
                    <i class="fa fa-user"></i> <span>Profile</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                @*<ul class="treeview-menu">
                    <li>
                        <a href="#"><i class="fa fa-plus"></i> Add New User</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-list"></i>All Users</a>
                    </li>
                    <li><a href="#"> <i class="fa fa-share"></i> Assign College</a></li>
                </ul>*@
            </li>
            <li @*class="treeview"*@>
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>My Payments</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                @*<ul class="treeview-menu">
                    <li><a href="@Url.Action("index", "cms", new {area="Admin" })">Contents</a></li>
                    <li><a href="@Url.Action("index", "news", new {area="Admin" })">News</a></li>
                    <li><a href="@Url.Action("Index","Exams",new{area="Admin"})">Exams</a></li>
                    <li><a href="@Url.Action("index","Links",new{Area="Admin"})">Link</a></li>
                    <li><a href="@Url.Action("index","Blog",new{Area="Admin"})">Blog</a></li>
                </ul>*@
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>





@helper GetGravatarUrl(string dataItem)
{

string hash = System.Web.Security.FormsAuthentication.HashPasswordForStoringInConfigFile(dataItem.Trim(), "MD5");
hash = hash.Trim().ToLower();
string gravatarUrl = string.Format(
  "http://www.gravatar.com/avatar.php?gravatar_id={0}&rating=G&size=60",
  hash);
    @gravatarUrl;
}






