﻿@model IEnumerable<Alpha.User.Model.Sheduler.Appointments>

@foreach (var item in Model)
{
    <div class="post clearfix">
        <div class="user-block">
            @Html.Gravatar(item.Paitent.Email, 80, new { Title = "My Gravatar", Alt = "Gravatar", @class = "img-circle img-bordered-sm" })

            <span class="username">
                <a href="#" class="GetName">
                     @Html.Action("Name", new { id = item.PaitentId })
                </a>
                <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i>  @(item.On)</a>
            </span>
            <span class="description">Appoimntment</span>
        </div>

        @if (item.On < DateTime.Now && item.Done)
        {

            <h5>Doctor Notes</h5>
            <p>
                @item.DoctorNotes
            </p>

            <hr />
            <h5>Your Note</h5>
            <p>
                @item.PaitentNotes
            </p>

        }
        else
        {
            if (item.On < DateTime.Now)
            {
                <h3>This Meeting was Canceled</h3>
            }
            else
            {
                <h3>Coming up on @(item.On)</h3>
            }

        }
        @*<form class="form-horizontal">
                <div class="form-group margin-bottom-none">
                    <div class="col-sm-9">
                        <input class="form-control input-sm" placeholder="Response">
                    </div>
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-danger pull-right btn-block btn-sm">Send</button>
                    </div>
                </div>
            </form>*@
    </div>
}

@*<script>
        $(function () {
            $(".GetName").each(function (i, e) {
                var t = $(e).data("userid")
                $.get("/profile/DoctorName?id=" + t, function (data) {
                    $(e).html(a)
                })
            })
        })
    </script>*@