﻿@model Alpha.User.Model.Doctor.DoctorProfile
<form class="form-horizontal" action="/Profile/Edit/" method="post">
    @Html.HiddenFor(i=>Model.Id)
    @Html.HiddenFor(i => Model.UserId)
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10"> 
           @Html.TextBoxFor(i=>Model.Name,htmlAttributes:new {@class="form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Qualification</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(i=>Model.Qualification, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Licesnce Number</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(i=>Model.LicesnceNumber, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="inputExperience" class="col-sm-2 control-label">Digital Signature</label>
        <div class="col-sm-10">
            @Html.TextAreaFor(i=>Model.DS, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="inputSkills" class="col-sm-2 control-label">Days Avlable</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(i=>Model.Avaialble, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="inputSkills" class="col-sm-2 control-label">Time Avlable</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(i=>Model.TimeAvlble, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
   
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-danger">Save</button>
        </div>
    </div>
</form>
