﻿@model Alpha.User.Model.Doctor.DoctorProfile  
@using GravatarHelper;
@using GravatarHelper.Extensions;
@{
    ViewBag.Title = "Profile";
}
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    
                    @*@Html.Gravatar(Request.RequestContext.HttpContext.User.Identity.Name, 80, new { Title = "My Gravatar", Alt = "Gravatar" ,@class= "profile-user-img img-responsive img-circle" })*@
                   
                    <h3 class="profile-username text-center">@Model.Name</h3>
                    <p class="text-muted text-center">@Model.Qualification</p>
                   
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- About Me Box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">About Me</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <strong><i class="fa fa-book margin-r-5"></i> Avaliable</strong>
                    <p class="text-muted">
                       @Model.Avaialble
                    </p>
                    <hr>
                    <strong><i class="fa fa-map-marker margin-r-5"></i> Time</strong>
                    <p class="text-muted">@Model.TimeAvlble</p>
                    <hr>
                    <strong><i class="fa fa-pencil margin-r-5"></i> Licience No</strong>
                    <p>
                        @Model.LicesnceNumber
                    </p>
                    <hr>
                    @*<strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>*@
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#activity" data-toggle="tab">Appointments</a></li>
                    <li><a href="#timeline" data-toggle="tab">Timeline</a></li>
                    <li><a href="#settings" data-toggle="tab" id="Settings">Profile</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="activity">
                        @Html.Action("Appointments")
                        
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="timeline">
                        <!-- The timeline -->
                        @Html.Action("Events")
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="settings">
                        @Html.Action("Edit")
                       
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
